<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--4-col mdl-typography--text-center">
    	<h2>TPot Student</h2>
    	<h4>Societies</h4>
    	<form action="#">
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="college" ng-model="college">
                <label class="mdl-textfield__label" for="college">Enter your college</label>
            </div>
			<div class="mdl-textfield mdl-js-textfield">
				<input class="mdl-textfield__input" type="text" id="email" ng-model="email">
				<label class="mdl-textfield__label" for="email">Enter your email</label>
			</div>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="password" id="password" ng-model="password">
                <label class="mdl-textfield__label" for="password">Enter your password</label>
            </div>
		</form>
    	<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ng-click="signin()">
		  	Sign in
		</button>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>