<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--4-col mdl-typography--text-center">
        <h2>TPot Student</h2>
        <h4>Societies</h4>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>

<ul class="mdl-list" ng-model="weekbalance">
	<li class="mdl-list__item">
	    <span class="mdl-list__item-primary-content">
	        <b>Add Society Event</b>
	    </span>
	</li>
	<li class="mdl-list__item">
	    <span class="mdl-list__item-primary-content">
			<form action="#">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="summary" ng-model="summary">
					<label class="mdl-textfield__label" for="summary">Summary...</label>
				</div>
			</form>
	    </span>
	</li>
	<li class="mdl-list__item">
	    <span class="mdl-list__item-primary-content">
			<form action="#">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="description" ng-model="description">
					<label class="mdl-textfield__label" for="description">Description...</label>
				</div>
			</form>
	    </span>
	</li>
	<li class="mdl-list__item">
	    <span class="mdl-list__item-primary-content">
			<form action="#">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="location" ng-model="location">
					<label class="mdl-textfield__label" for="location">Location...</label>
				</div>
			</form>
	    </span>
	</li>
	<li class="mdl-list__item">
	    <span class="mdl-list__item-primary-content">
	    	<form action="#">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="date" ng-model="date">
					<label class="mdl-textfield__label" for="date">Date...</label>
				</div>
			</form>
	    </span>
	</li>
	<li class="mdl-list__item">
	    <span class="mdl-list__item-primary-content">
	    	<form action="#">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" value="13:00" type="text" id="timestart" ng-model="timestart">
					<label class="mdl-textfield__label" for="timestart">Time start...</label>
				</div>
			</form>
	    </span>
	</li>
	<li class="mdl-list__item">
	    <span class="mdl-list__item-primary-content">
			<form action="#">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" value="14:00" type="text" id="timeend" ng-model="timeend">
					<label class="mdl-textfield__label" for="timeend">Time End...</label>
				</div>
			</form>
		</span>
	</li>
</ul>

<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--4-col mdl-typography--text-center">
    	<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ng-click="eventadd()">
		  	Add Event
		</button>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>