<ul class="demo-list-icon mdl-list" shoppinglist ng-model="shoppinglist">

</ul>

<!-- Numeric Textfield -->
<form action="#">
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample2">
    <label class="mdl-textfield__label" for="sample2">Price of items...</label>
    <span class="mdl-textfield__error">Input is not a number!</span>
  </div>
</form>

<button class="mdl-button mdl-js-button mdl-button--raised" ng-click="doneShopping()">
	Done Shopping
</button>