<ul class="mdl-list">
	<li class="mdl-list__item nobottom">
	    <span class="mdl-list__item-primary-content">
	    	<span>
	    		<b>Societies</b>
	    	</span>
	    </span>
	</li>
	<li class="mdl-list__item notop">
	    <span class="mdl-list__item-primary-content">
	    	<span class="mdl-list__item-text-body">
	    		<span ng-repeat="sk in societieskeys">
					<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-{{ sk }}">
					  	<input type="checkbox" id="checkbox-{{ sk }}" class="mdl-checkbox__input" ng-model="societiesselected[sk]">
					  	<span class="mdl-checkbox__label">{{ societies[sk] }}</span>
					</label>
					<br/>
				</span>
	    	</span>
	    </span>
	</li>
	<li class="mdl-list__item">
	    <span class="mdl-list__item-primary-content">
	        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ng-click="addSocieties()">
			  	Add Societies
			</button>
	    </span>
	</li>
</ul>