<div class="mdl-grid date">
	<div class="mdl-cell mdl-cell--1-col date-arrow" ng-click="changeDate(-1)">
		<div class="mdl-grid center-items">
			<
		</div>
	</div>
	<div class="mdl-cell mdl-cell--10-col mdl-cell--6-col-tablet mdl-cell--2-col-phone">
		<div class="mdl-grid center-items">
			{{datename}}
		</div>
	</div>
	<div class="mdl-cell mdl-cell--1-col date-arrow" ng-click="changeDate(1)">
		<div class="mdl-grid center-items">
			>
		</div>
	</div>
</div>

<div class="mdl-grid" ng-show="isEmpty(tasks) && isEmptyString(tasksmessage)">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--10-col mdl-typography--text-center">
        <div class="mdl-spinner mdl-js-spinner is-active"></div>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>

<div class="mdl-grid" ng-hide="isEmptyString(tasksmessage)">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--10-col mdl-typography--text-center">
        {{ tasksmessage }}
    </div>
    <div class="mdl-layout-spacer"></div>
</div>

<ul class="mdl-list" tasks ng-model="tasks">
</ul>

<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--4-col mdl-typography--text-center">
    	<a href="/#/add/{{ day }}">
	    	<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
			  	Add Task
			</button>
		</a>
	</div>
    <div class="mdl-layout-spacer"></div>
</div>