<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--4-col mdl-typography--text-center">
        <h2>TPot Student</h2>
        <h4>Welcome!</h4>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>

<ul class="mdl-list">
    <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
            <form action="#">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="college" ng-model="college">
                    <label class="mdl-textfield__label" for="college">Please enter your college...</label>
                </div>
            </form>
        </span>
    </li>
    <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
            <form action="#">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="coursecode" ng-model="coursecode">
                    <label class="mdl-textfield__label" for="coursecode">Please enter your course code...</label>
                </div>
            </form>
        </span>
    </li>
    <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
            <form action="#">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="year" ng-model="year">
                    <label class="mdl-textfield__label" for="year">Please enter your year...</label>
                </div>
            </form>
        </span>
    </li>
</ul>

<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--4-col mdl-typography--text-center">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ng-click="done()">
            Done
        </button>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>