<ul class="mdl-list" ng-model="weekbalance">
	<li class="mdl-list__item">
	    <span class="mdl-list__item-primary-content">
	        <b>Edit</b>
	    </span>
	</li>
	<li class="mdl-list__item">
	    <span class="mdl-list__item-primary-content">
			<form action="#">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="details" ng-model="details">
					<label class="mdl-textfield__label" for="details">Details...</label>
				</div>
			</form>
	    </span>
	</li>
	<li class="mdl-list__item">
	    <span class="mdl-list__item-primary-content">
			<form action="#">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="amount" ng-model="amount">
					<label class="mdl-textfield__label" for="amount">Amount...</label>
				<span class="mdl-textfield__error">Input is not a number!</span>
				</div>
			</form>
	    </span>
	</li>
	<li class="mdl-list__item">
	    <span class="mdl-list__item-primary-content">
	        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ng-click="edit()">
			  	Edit
			</button>
	    </span>
	</li>
</ul>