<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--4-col mdl-typography--text-center">
        <h2>TPot Student</h2>
        <h4>Societies</h4>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>

<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--4-col mdl-typography--text-center">
        <a href="/#/societies/add">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                Add Society Event
            </button>
        </a>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>

<ul class="mdl-list" ng-model="events">
    <li class="mdl-list__item" ng-repeat="event in events">
        <span class="mdl-list__item-primary-content">
            <b>{{ event.date }}</b>&nbsp;&nbsp;&nbsp;{{ event.description }}
        </span>
        <span class="mdl-list__item-secondary-action">
            {{ event.time }}
            <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" ng-click="removeEvent(event.id)">
                <i class="material-icons">clear</i>
            </button>
        </span>
    </li>
</ul>