<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--4-col mdl-typography--text-center">
    	<h2>TPot Student</h2>
    	<button onclick="javascript:signIn();" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
		  	Sign in with Google
		</button>
		<br/>
		<br/>
		<a href="/#/whatistpot">
	    	<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
			  	What is TPot?
			</button>
		</a>
		<br/>
		<br/>
		<a href="/#/societies/login">
			Leading a society? Click here to sign in
		</a>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>