<ul class="mdl-list">
	<li class="mdl-list__item">
	    <span class="mdl-list__item-primary-content">
	        <img width="48px" height="48px" src="{{ image }}" style="margin-right:10px;">
	    	{{ title }}
	    </span>
	</li>
	<li class="mdl-list__item nobottom">
	    <span class="mdl-list__item-primary-content">
	    	<span>
	    		<b>Instructions</b>
	    	</span>
	    </span>
	</li>
	<li class="mdl-list__item notop">
	    <span class="mdl-list__item-primary-content">
	    	<span class="mdl-list__item-text-body">
	    		{{ instructions }}
	    	</span>
	    </span>
	</li>
	<li class="mdl-list__item nobottom">
	    <span class="mdl-list__item-primary-content">
	    	<span>
	    		<b>Ingredients</b>
	    	</span>
	   	</span>
	</li>
</ul>
<ul class="demo-list-icon mdl-list" ng-model="ingredients">
	<li class="mdl-list__item" ng-repeat="ingredient in ingredients">
	    <span class="mdl-list__item-primary-content">
	    	<img width="48px" height="48px" src="{{ ingredient.image }}" style="margin-right:10px;">
	    	{{ ingredient.name }}
	    </span>
	</li>
</ul>